<div id="header">
  <ul id="primary-nav">
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li>{{#link-to 'docs'}}Docs{{/link-to}}</li>
    <li>{{#link-to 'support'}}Support{{/link-to}}</li>
  </ul>
  <h1>{{#link-to 'index'}}AnyPresence <span>Gateway</span>{{/link-to}}</h1>
</div>

{{outlet}}