<ul id="scripts-list">
  {{#link-to 'proxyEndpoints.new' }}<li>+ New</li>{{/link-to}}
  {{#each endpoint in arrangedContent}}
    {{#unless isNew }}
      {{#link-to 'endpoint' endpoint}}<li>{{name}}</li>{{/link-to}}
    {{/unless}}
  {{/each}}
</ul>
<div id="scripts-body">
  <div id="scripts-inner">
    {{outlet}}
  </div>
</div>
<div class="clearfix"></div>