{{define "body"}}
<br/>
{{if .Resend}}
<span style="font-size:14px; font-weight: bold;">
	You tried to register an already registered but unconfirmed account.
	Upon confirming, please use the first password you registered with.
	If you forget that, please choose the password reset link.
</span><br/>
<br/>
{{end}}
<span style="font-size:14px;">Thanks for your interest in JustAPIs.</span>
<ol>
	<li>
		<span style="font-size:14px;">To get started, please click on the link below to confirm your email:&nbsp;</span><br/>
		<a href="{{.UrlPrefix}}confirmation?token={{.Token}}">{{.UrlPrefix}}confirmation?token={{.Token}}</a><br/>
		&nbsp;
	</li>
	<li>To learn how to use JustAPIs, follow the instructions in this Quick Start Guide:&nbsp;<a href="http://devhub.justapis.com/docs/quick-start-guide">http://devhub.justapis.com/docs/quick-start-guide</a></li>
</ol>
<br/>
If you have any questions or require support, please contact <a href="mailto:support@anypresence.com" style="color:#6350b0;">support@anypresence.com</a>. &nbsp;<br/>
<br/>
The AnyPresence Team<br/>
<br/>
&nbsp;
{{end}}
