{{define "body"}}
<br/>
{{if .Resend}}
<span style="font-size:14px; font-weight: bold;">
	You tried to register an already registered and confirmed email address.
	If you forgot your password, please visit the password reset link to get a new one.
</span><br/>
<br/>
{{end}}
<strong><span style="font-size:14px;">Thanks for confirming your Nanoscale.io account email.</span></strong><br/>
<br/>
To use the online version of Nanoscale.io, visit&nbsp;<a href="{{.UrlPrefix}}#/login">{{.UrlPrefix}}#/login</a><br/>
<br/>
To learn how to use Nanoscale.io, follow instructions in this Quick Start Guide: <a href="http://devhub.nanoscale.io/docs/quick-start-guide">http://devhub.nanoscale.io/docs/quick-start-guide</a><br/>
<br/>
Watch a quick getting started video: <a href="http://devhub.nanoscale.io/docs/what-is-justapis#section-walkthrough">http://devhub.nanoscale.io/docs/what-is-justapis#section-walkthrough</a><br/>
<br/>
To download a Nanoscale.io binary, select the appropriate OS and architecture:
<ul>
	<li>Mac OSX: <a href="http://downloads.nanoscale.io/latest/gateway-darwin-amd64">http://downloads.nanoscale.io/latest/gateway-darwin-amd64</a></li>
	<li>Linux 64-bit: <a href="http://downloads.nanoscale.io/latest/gateway-linux-amd64">http://downloads.nanoscale.io/latest/gateway-linux-amd64</a></li>
	<li>Linux 32-bit: <a href="http://downloads.nanoscale.io/latest/gateway-linux-386">http://downloads.nanoscale.io/latest/gateway-linux-386</a></li>
	<li>Windows 64-bit: <a href="http://downloads.nanoscale.io/latest/gateway-windows-amd64.exe">http://downloads.nanoscale.io/latest/gateway-windows-amd64.exe</a></li>
	<li>Windows 32-bit: <a href="http://downloads.nanoscale.io/latest/gateway-windows-386.exe">http://downloads.nanoscale.io/latest/gateway-windows-386.exe</a></li>
	<li>Linux ARMv7: <a href="http://downloads.nanoscale.io/latest/gateway-linux-armv7">http://downloads.nanoscale.io/latest/gateway-linux-armv7</a></li>
	<li>Linux ARMv6: <a href="http://downloads.nanoscale.io/latest/gateway-linux-armv6">http://downloads.nanoscale.io/latest/gateway-linux-armv6</a></li>
</ul>
<br/>
If you have any questions or require support, please contact <a href="mailto:support@nanoscale.io" style="color:#6350b0;">support@nanoscale.io</a>. &nbsp;<br/>
<br/>
The Nanoscale.io Team<br/>
<br/>
<br/>
&nbsp;
{{end}}
