{{define "body"}}
<br/>
{{if .Resend}}
<span style="font-size:14px; font-weight: bold;">
	You tried to register an already registered and confirmed email address.
	If you forgot your password, please visit the password reset link to get a new one.
</span><br/>
<br/>
{{end}}
<strong><span style="font-size:14px;">Thanks for confirming your Nanoscale.io account email.</span></strong><br/>
<br/>
To use the online version of Nanoscale.io, visit&nbsp;<a href="{{.UrlPrefix}}#/login">{{.UrlPrefix}}#/login</a><br/>
<br/>
To learn how to use Nanoscale.io, follow instructions in this Quick Start Guide: <a href="http://devhub.nanoscale.io/docs/quick-start-guide">http://devhub.nanoscale.io/docs/quick-start-guide</a><br/>
<br/>
Watch a quick getting started video: <a href="http://devhub.nanoscale.io/docs/what-is-nanoscaleio#section-walkthrough">http://devhub.nanoscale.io/docs/what-is-nanoscaleio#section-walkthrough</a><br/>
<br/>
To download the latest Nanoscale.io binary, visit our releases page and select the appropriate OS and architecture: <a href="https://github.com/nanoscaleio/gateway/releases/latest">https://github.com/nanoscaleio/gateway/releases/latest</a><br/>
<br/>
If you have any questions or require support, please contact <a href="mailto:support@nanoscale.io" style="color:#6350b0;">support@nanoscale.io</a>. &nbsp;<br/>
<br/>
The Nanoscale.io Team<br/>
<br/>
<br/>
&nbsp;
{{end}}
